
kernel/out/
kernel/prebuilts/
kernel/prebuilts/ndk-r26/toolchains/llvm/prebuilt/linux-x86_64/
kernel/out/cache/c9949f92/vendor/mediatek/kernel_modules/connectivity/wlan/core/gen4m/
kernel/out/cache/c9949f92/vendor/mediatek/kernel_modules/connectivity/wlan/core/gen4m/

*.zip
*Zone.Identifier